langchain
pandas
transformers
torch
torchvision
faiss-cpu
openpyxl
langchain-community
openai
sentence_transformers
accelerate
llama_cpp_python
python-dotenv
langchain-openai
langchain_experimental
text_generation